#quadrato{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    background-color:blue;
}
.box{
    width: 50px;
    height: 50px;
}
.bg-pink{
    background-color:pink;
}
.bg-aqua{
    background-color: aqua;
}
.bg-yellow{
    background-color: yellow;
}