#quadrato{
    max-width: 700px;
    height: 1100px;
    margin: 50px auto;
    background-color:;
}

.bg-container{
    background-color: rgb(92, 231, 173);
}

.box{
    width: 60px;
    height: 60px;
    margin: 10px;
}

.bg-blue{
    background-color: rgb(103, 103, 184);
}

.bg-pink{
    background-color:pink;
}
.bg-aqua{
    background-color: aqua;
}
.bg-yellow{
    background-color: yellow;
}